

/*Poppins 폰트링크*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*font-family:'Poppins', sans-serif;*/

/*Pretendard 폰트링크*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


@font-face {
    font-family: "Cafe24 Ssurround";
    font-style: normal ;
    font-weight: 500;
    src: url("../font/Cafe24Ssurround.ttf");
}
@font-face {
    font-family: "Cafe24 SsurroundAir";
    font-style: normal ;
    font-weight: 200;
    src: url("../font/Cafe24SsurroundAir.ttf");
}

body {
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif, '돋움';
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    color: #222;
}
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar-thumb {
    background: #ffd500;
    border-radius: 5px;
}
body::-webkit-scrollbar-track {
    background: #ffffff;
}
body.stop {
    overflow: hidden;
}
.layout {
    position: relative;
}
a, em, i {
    text-decoration: none;
    font-style: normal;
    color: #222;
}
input {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
.inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

h1 {font-size: 0;}

button {
    border: none;
    padding: 0;
    background: #222222;

    color: white;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.02em;
    cursor: pointer;
}

/*---------------- HEADER ----------------*/
.header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 60;

    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    line-height: 1;
}
.header .m_icon {
    display: none;
}
.header .GNB {}
.header .logo {
    font-size: 0;
}

.header ul {}
.header .innerHeader {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.header .mobile-menu.off {
    display: none;
}
.header .logo {}
.header .logo a {}
.header .logo img {
    width: 80px;
}
.header .GNB {
    margin-left: 80px;
}
.header .GNB li {
    float: left;
}
.header .GNB li:not(:first-child) {
    margin-left: 80px;
}
.header .sub_gnb {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.header .sub_gnb li:nth-child(2) {
    margin-left: 30px;
}
.header .sub_gnb li:nth-child(3) {
    margin-left: 51px;
    cursor: pointer;
}
.header .sub_gnb li:nth-child(4) {
    margin-left: 18px;
}
/*---------------- FOOTER-LITE ----------------*/
.footer {
    height: 30px;
    background: #363636;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    padding: 40px 0;
}
.footer .inner {
    position: relative;
    width: 100%;
    max-width: 1280px;
}
.footer .link {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 470px;
}
.footer ul li a {
    color: white;
}
.footer img {
    float: right;
    margin-right: 300px;
    cursor: pointer;
}
.footer .select-box {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: 10px;
    z-index: 10;
}
.footer .select-box div {
    width: 240px;
    height: 30px;
    background: #3E3D3D;
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-align: center;
}
.footer .select-box div i {
    font-size: 12px;
    margin-left: 10px;
    color: white;
    transform: rotate(180deg);
    transition: 0.3s;
}
.footer .select-box ul {
    display: none;
}
.footer .select-box ul li a {
    display: block;
    font-size: 13px;
    background: white;
    text-align: center;
    color: #222222;
    padding: 0 20px;
    transition: 0.3s;
}
.footer .select-box:hover ul {
    display: block;
}
.footer .select-box ul li a:hover {
    color: white;
    background: #2b2b2b;
}
.footer .select-box:hover div i {
    transform: rotate(0);
}

@media (min-width: 768px) and (max-width: 1180px) {
    .layout {
        max-width: 100%;
        min-width: auto;
    }
    .inner {
        width: 100%;
    }
    .layout > section {
        width: 100%;
    }
    /* Tablet header */
    .header {
        padding: 0 50px;
        box-sizing: border-box;
    }
    .header .GNB {
        margin-left: 0;
    }
    .header .GNB .logo {
        width: 50px;
        font-size: 0;
    }
    .header .GNB li {
        margin-left: 50px;
        font-size: 16px;
    }
    .header .GNB li:not(:first-child) {
        margin-left: 50px;
    }
    .header .sub_gnb {
        margin-right: 0;
        font-size: 14px;
    }
    .header .sub_gnb li:nth-child(2) {
        margin-left: 15px;
    }
    .header .sub_gnb li:nth-child(3) {
        margin-left: 15px;
    }
    .header .sub_gnb li:nth-child(4) {
        margin-left: 15px;
    }
    .header .sub_gnb li img {
        width: 16px;
    }
}
@media (max-width: 767px) {
    .inner,
    .life .inner,
    .notice-event .inner,
    .sns .inner {
        width: 100%;
    }

    .layout {
        max-width: 100%;
        min-width: 100%;
    }
    /* Mobile header */
    .header {
        position: fixed;
        margin-top: 0;
        padding: 10px 20px;
        box-sizing: border-box;
        background: white;
    }
    .header .innerHeader {
        justify-content: center;
    }
    .header .mobile-menu {
        position: absolute;
        left: 0;
        cursor: pointer;
    }
    .header .logo img{
        width: 55px;
    }
    .header .GNB {
        display: none;
    }
    .header .GNB li {}
    .header .sub_gnb {
        margin-top: 0;
        margin-right: 0;
    }
    .header .sub_gnb img {
        width: 20px;
        height: 20px;
    }
    .header .sub_gnb li:nth-child(1),
    .header .sub_gnb li:nth-child(2) {
        display: none;
    }
     /*Mobile Footer */
    .footer {
        height: max-content;
        font-size: 13px;
        line-height: 25px;
        padding: 0 0 80px 0;
    }
    .footer .inner {
        width: 100%;
    }
    .footer .link {
        flex-wrap: wrap;
        width: 100%;
        margin-top: 50px;
        font-size: 17px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .footer .link li {
        margin-top: 20px;
    }
    .footer img {
        display: none;
    }
    .footer .select-box {
        top: 0;
        bottom: 0;
        right: unset;
        left: 0;
        width: 100%;
    }
    .footer .select-box div {
        width: 100%;
        height: 35px;
        font-size: 15px;
        line-height: 35px;
    }
    .footer .select-box ul li a {
        line-height: 40px;
    }
}

